services:
  postgresql:
    image: postgres:${POSTGRESQL_VERSION}
    container_name: temporal-postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    networks:
      - app-network
    volumes:
      - /var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U temporal" ]
      interval: 5s
      timeout: 5s
      retries: 60
      start_period: 30s

  temporal-admin-tools:
    image: temporalio/admin-tools:${TEMPORAL_ADMINTOOLS_VERSION}
    container_name: temporal-admin-tools
    restart: on-failure:6
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PWD=${POSTGRES_PASSWORD}
      - POSTGRES_SEEDS=postgresql
      - SQL_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
    volumes:
      - ./deployments:/deployments
    entrypoint: [ "/bin/sh" ]
    command: /deployments/setup-postgres.sh

  temporal:
    image: temporalio/server:${TEMPORAL_VERSION}
    container_name: temporal
    depends_on:
      temporal-admin-tools:
        condition: service_completed_successfully
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PWD=${POSTGRES_PASSWORD}
      - POSTGRES_SEEDS=postgresql
      - BIND_ON_IP=0.0.0.0
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
    networks:
      - app-network
    ports:
      - '7233:7233'
    volumes:
      - ./deployments/dynamicconfig:/etc/temporal/config/dynamicconfig
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "7233" ]
      interval: 5s
      timeout: 3s
      start_period: 30s
      retries: 60

  temporal-create-namespace:
    image: temporalio/admin-tools:${TEMPORAL_ADMINTOOLS_VERSION}
    container_name: temporal-create-namespace
    restart: on-failure:5
    depends_on:
      temporal:
        condition: service_healthy
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - DEFAULT_NAMESPACE=default
    networks:
      - app-network
    volumes:
      - ./deployments:/deployments
    entrypoint: [ "/bin/sh" ]
    command: /deployments/create-namespace.sh

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - "8000:8000"
    environment:
      - TEMPORAL_HOST=temporal:7233
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BLOB_STORE_PATH=/blobs
    volumes:
      - blob-store:/blobs
    depends_on:
      - temporal
      - redis
    networks:
      - app-network

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    environment:
      - TEMPORAL_HOST=temporal:7233
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BLOB_STORE_PATH=/blobs
    volumes:
      - blob-store:/blobs
    depends_on:
      temporal-create-namespace:
        condition: service_completed_successfully
      redis:
        condition: service_started
      server:
        condition: service_started
    networks:
      - app-network

  frontend:
    build:
      context: ui
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  blob-store:
