@import "tailwindcss";
@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/table/lib/css/table.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

.bp6-tab-panel {
  height: 100%;
}
